.content {
  width: 90%;
  margin: 1rem auto auto auto;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title h1 {
  font-size: 2rem;
  color: blanchedalmond;
  font-weight: 500;
}

button{
    margin-bottom: .8rem;
}

.table {
  width: 100%;
}

.livros{
    color:blue;
    margin-left: .6rem;
}

.edit {
  color: gold;
}

.delete {
  color: rgb(233, 126, 126);
  margin-left: 0.5rem;
}

.mat-header {
  width: 5rem;
}
